@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E5D9B6;
  /* cedbb8 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.palette1 {
    background: #E5D9B6;
}

.palette2 {
    background: #A4BE7B;
}

.palette3 {
    background: #5F8D4E;
    /* text-emerald-100 */
}

.palette4 {
    background: #285430;
    /* text-emerald-900 */
}

.palette5 {
    background: #7bbb87
}

.palette6 {
    background: #dcd8d8
}

.label-tag {
    @apply flex place-content-center w-full text-xl text-green-900 mt-2 font-semibold
}

.hide {
    display: none;
}