@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.palette1 {
    background: #FAF1E6;
}

.palette2 {
    background: #FDFAF6;
}

.palette3 {
    background: #E4EFE7;
    /* text-emerald-100 */
}

.palette4 {
    background: #064420;
    /* text-emerald-900 */
}